body{
    background-color: rgb(14, 13, 37);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
 .fnaf2{
    font-weight: bold;
    font-size: larger;
   
}
a{
    color: aliceblue;
    font-weight: bold;
    font-size:40px;
    color: rgb(103, 37, 255);
}
iframe{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid rgb(145, 103, 243);
}
a:link{
    text-decoration: none;
  }
  a:hover{
    color: rgb(145, 103, 243);
  }