

body{
  background-color: rgb(14, 13, 37);
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.bestgamestxt{
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 900;
    color: #fff;
    margin: 0 10px 10px 20px;
}
img.slopeimg{
 border-radius: 10px;
 border: 1px solid rgb(103, 54, 216) ;

}
img.slopeimg:hover{
  border: 2px solid rgb(145, 103, 243);
}

.bestgames a{
  margin: 20px 40px 20px 0;
}
img.slopeimg {
  height: 180px;
 
  width: 320px;
}

html{
  scroll-behavior: smooth;
}
.gamesDownload{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
      text-align: center;
      

    color: #b6caff;
    margin: 0 10px 10px 20px;
}

h1{
  text-align: center;
}

.onlineGames{
  font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
      text-align: center;
      

    color: #b6caff;
    margin: 0 10px 10px 20px;
}

img.gamedownloadImg{
  border-radius: 10px;
  border: 1px solid rgb(103, 54, 216) ;
  margin-bottom: 10px;
 
 }
 img.gamedownloadImg:hover{
   border: 2px solid rgb(145, 103, 243);
   margin-bottom: 10px;
 }
 

 img.gamedownloadImg {
   height: 180px;
   margin-bottom: 10px;
   width: 320px;
 }







 nav {
  background-color: #210352;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.logo-text {
  color: #ab62ff;
  font-size: 1.2em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin: 0 10px;
  position: relative;
}

nav a {
  color: #ab62ff;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  display: block;
}

nav a:hover {
  background-color: #461891;
}

/* Dropdown styles */
nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #210352;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul li:hover > ul {
  display: flex;
  flex-direction: column;
}

nav ul ul li {
  width: 100%;
  margin: 0;
}

/* End dropdown styles */

.search-container {
  display: flex;
  align-items: center;
}

nav input[type="text"] {
  padding: 8px;
  border: none;
  border-radius: 4px;
}



html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}




.ads-section {
  /* Add your desired styles for the ads section */
  margin: 20px 0; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
  background-color: #412b64; /* Background color for the ads section */
  height: 80px;
  border: 1px #7474748a;
display: flex;
  align-items: center;
    width: 100%;
    
}



.ads-section img {
  height: 75px;
  margin: 0 2px 0 2px;
  border-radius: 10px;
  border-radius: 5px;
}