body{
    background-color: rgb(14, 13, 37);
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
   
}
 .territorial{
    font-weight: bold;
    font-size: larger;
   
}
a{
    color: aliceblue;
    font-weight: bold;
    font-size:40px;
    color: rgb(103, 37, 255);
}
iframe{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 2px solid rgb(145, 103, 243);
}
a:link{
    text-decoration: none;
  }
  a:hover{
    color: rgb(145, 103, 243);
  }





  .comment-section {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.comment-section h2 {
    color: #333;
}
.comment-section form {
    display: flex;
    flex-direction: column;
}
.comment-section label {
    margin: 10px 0 5px;
}
.comment-section input, 
.comment-section textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.comment-section button {
    padding: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.comment-section button:hover {
    background-color: #3700b3;
}
#commentsContainer {
    margin-top: 20px;
}
.comment {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
